.html, .body {
  	margin: 0;
  	width: 100%;
  	height: 100%;
    background-color: #E59187;
    font: 15px/25px Helvetica, sans-serif;
    font-stretch: ultra-expanded;
    text-transform: uppercase;
    margin-left: auto;
    margin-right: auto;
}

.pixelated-scroll {
  	width: 100%;
  	height: 100%;
  	image-rendering: crisp-edges;
  	background-image: url("../../Background_Image/Pixel_Sky.png");
  	background-size: 70%;
  	background-repeat: repeat-x;
  	background-position: left center;
  	box-sizing: border-box;
    animation: slide 10s linear infinite;
}

@keyframes slide {
  	from { background-position: left center; }
  	to { background-position: 100% center; }
}

div.header {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.menu-title{
    color:#FFFFFF;
    font-size: 3vw;
    line-height: 4vw;
    letter-spacing: 20px;
    font-weight: 90;
}

h2{
    color:#FFFFFF;
    font-size: 2vw;
    line-height: 2.5vw;
    letter-spacing: 0.6vw;
    font-weight: 70;
}

div.container {
    height: 200px;
    top: 50px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 12vh;
}

td {
    vertical-align: middle;
    text-align: center;
}

.allMaps {
    display: none;
}

.firstMap {
    display:block;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* Map image */
img.map {
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    width: 25em;
    outline: none;
}

img.pixelMap {
    image-rendering: pixelated;
}

img.userMap {
    image-rendering: crisp-edges;
}

.map:hover {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
}

/* Next & previous buttons */
.prev, .next {
    padding: 20px;
    cursor: pointer;
    color: black;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.prev:hover, .next:hover {
    background-color:#868686;
    opacity: 0.6;
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
}

/* width */
::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #573359;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #2c1c2d;
}

.content-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 25vh;
}

.form-group{
    background-color: #FFE9D6;
    padding: 12vh;
}

#upload-btn {
    background-color: #E28479;
    border-color: #E28479;
}
