#pallette-section {
  height: 20%;
}

.palette-button {
  border: none;
  cursor: pointer;
  color: white;
  padding: 20px;
  text-align:center;
  text-decoration: none;
  display: inline-block;
  font-size: 50px;
  margin: 4px 25px;
  border-radius: 50%;
  width: 100px;
  height:100px;
}

 .pallette-holder {
        max-height: 100px;
        margin: auto;
        width:60%;
        padding: 10px;
        border: 2px solid black;
        overflow-y: hidden;
        overflow-x:auto;
        white-space: nowrap;
    }

.pallette-holder :hover {
    border: 3px solid black;
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.2);
}

.active {
    color: black;
    border: 3px solid black;
}



#grid-section{
  height: 80%;
  display: flex;
  align-content: center;
  margin: auto;

}

#grid{
  width: 80%;
  padding-top: 5vh;
  margin-left:auto;
  margin-right:auto;
}

.gameButton {
    margin: none;
    outline: none;
    width: 100%;
    padding-top: 50%;
    padding-bottom:50%;
    box-sizing: border-box;
}
