#pallette-section {
    height: 20%;
}

.palette-button {
    border: none;
    color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    padding: 20px;
    text-align:center;
    text-decoration: none;
    font-size: 200%;
    margin: 4px 25px;
    border-radius: 50%;
    width: 100px;
    height:100px;
}

.pallette-holder {
    max-height:175px;
    margin: auto;
    width:60%;
    padding: 40px 10px 15px;
    border: 1px solid rgba(0, 0, 0, 0.308);
    border-radius: 5px;
    overflow-y: hidden;
    overflow-x: auto;
    position: fixed;
    white-space: nowrap;
    left: 20%;
    top: 3%;
    background-color: rgba(255, 255, 255, 0.466);
}

.pallette-holder :hover {
    border: 3px solid black;
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.2);
}

.active-button {
    box-shadow: 0 0 20px 0
    inset, 0 0 20px 8px;
    border: 3px solid black;
}

#grid-section{
    height: 80%;
    display: flex;
    align-content: center;
    margin: auto;

}

#grid{
    width: 80%;
    padding-top: 5vh;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    table-layout: fixed ;
}

.gameButton {
    margin: none;
    font-size: 120%;
    color: white;
    -webkit-text-stroke: 0.5px black;
    outline: none;
    width: 100%;
    padding-top: 50%;
    padding-bottom: 50%;
    box-sizing: border-box;
}

.cursor {
    width: 20px;
    height: 20px;
    border: 1px solid black;
    border-radius: 50%;
    position: absolute;
    animation: cursorAnim .5s infinite alternate;
    pointer-events: none;
}

.cursor::after {
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    border: 8px solid gray;
    border-radius: 50%;
    opacity: .5;
    top: -8px;
    left: -8px;
    animation: cursorAnim2 .5s infinite alternate;
}

@keyframes cursorAnim {
    from {transform: scale(1);}
    to {transform: scale(.7);}
}

@keyframes cursorAnim2 {
    from {transform: scale(1);}
    to {transform: scale(.4);}
}

@keyframes cursorAnim3 {
    0% {transform: scale(1);}
    50% {transform: scale(3);}
    100% {transform: scale(1);}
    opacity: 0;
}

.expand {
    animation: cursorAnim3 .5s forwards;
    border: 1px solid red;
}

* {
    cursor: none;
}

.button {
    border: none;

    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    outline: none;
    overflow: hidden;
    position: relative;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 1.5vw;
    background-color: #BD7870;
    padding: 1.7vh 7.5vw;
    margin: 0 30px;
}

.button span {
    position: relative;
    z-index: 1;
}

.button:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 470%;
    width: 140%;
    background: rgb(244,213,209,.45);
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    -webkit-transform: translateX(-100%) translateY(-25%) rotate(45deg);
    transform: translateX(-100%) translateY(-25%) rotate(45deg);
  }

.button:hover:after {
    -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
    transform: translateX(-9%) translateY(-25%) rotate(45deg);
}

.btn-container{
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100%;
    justify-content: center;
    display: flex;
}
