#gameButton {
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    margin: auto;
    height: 10vw;
    width: 10vw;
    outline: none;    
}

.gameButton01 {
	background-color:#868686;
}

.gameButton01:hover {
    filter: brightness(85%);
}
