<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>

    <servlet>
        <servlet-name>GetSetPixels</servlet-name>
        <servlet-class>com.google.sps.servlets.GetSetPixels</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>GetSetPixels</servlet-name>
        <url-pattern>/color-grid</url-pattern>
    </servlet-mapping>
</web-app>
